name: Test

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".github/**"
      - "scripts/**"
      - "**/*.md"
      - "Dockerfile"
      - ".dockerignore"
      - ".gitignore"
      - "prettierrc"
      - "eslint.config.*"
      - "LICENSE*"
      - ".yarnrc.yml"
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Disable Telemetry
        run: npx next telemetry disable

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Cache Next.js Build Output
        uses: actions/cache@v5
        with:
          path: .next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/*.[jt]s', '**/*.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-

      - name: Test Build
        run: yarn build
